<div class="row">
    <div class="span8" >
        <div id="alerts"></div>
        <div class="btn-toolbar" data-role="editor-toolbar" data-target="#editor">
            <div class="btn-group">
                <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font"><i class="icon-font"></i><b class="caret"></b></a>
                <ul class="dropdown-menu">
                </ul>
            </div>
            <div class="btn-group">
                <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font Size"><i class="icon-text-height"></i>&nbsp;<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a data-edit="fontSize 5"><font size="5">Huge</font></a></li>
                    <li><a data-edit="fontSize 3"><font size="3">Normal</font></a></li>
                    <li><a data-edit="fontSize 1"><font size="1">Small</font></a></li>
                </ul>
            </div>
            <div class="btn-group">
                <a class="btn" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="icon-bold"></i></a>
                <a class="btn" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="icon-italic"></i></a>
                <a class="btn" data-edit="strikethrough" title="Strikethrough"><i class="icon-strikethrough"></i></a>
                <a class="btn" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="icon-underline"></i></a>
            </div>
            <div class="btn-group">
                <a class="btn" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i class="icon-align-left"></i></a>
                <a class="btn" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i class="icon-align-center"></i></a>
                <a class="btn" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i class="icon-align-right"></i></a>
                <a class="btn" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i class="icon-align-justify"></i></a>
            </div>
            <div class="btn-group">
                <a class="btn" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i class="icon-undo"></i></a>
                <a class="btn" data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i class="icon-repeat"></i></a>
            </div>
             <div  class="btn-group" style="margin: 0 auto;margin-left:21px; ">
                  <input type="checkbox"   name="my-checkbox" checked>
            </div>
        </div>
        <div id="demo">
            <div id="editor">
            </div>
        </div>
       <div style="height:1px;"></div>
        <h4>翻译结果：</h4>
        <div  class="well" id="result">


        </div>
    </div>
    <div class="span4">
        <div class="btn-group" style="margin-top:50px;" onclick="show_edit()">
            <button class="btn btn-primary" id="start" onclick="get_transe();$('#result-side-bar').show(1200);">翻译</button>
            <button class="btn" onclick="show_edit(); ">编辑</button>
            <button class="btn" id="clear"  onclick="clear_editor();show_edit();">清除</button>
            <select  class="input-medium"  style="margin:0 auto; margin-left:3px; width:138px;" onclick="demo(this[selectedIndex].value)" >
                <option value="-1">查看示例文本</option>
                <option value="0">翻译示例:1</option>
                <option value="1">翻译示例:2</option>
                <option value="2">翻译示例:3</option>
                <option value="3">翻译示例:4</option>
            </select>
            <!--button class="btn" id="bug-report" onclick="post_bug()">报告bug</button-->
        </div>
        <div id="result-side-bar">
            <table class="table table-bordered" onclick="show_edit()" style="table-layout:fixed;margin-top:10px;margin-bottom:0px;" onclick="show_edit()">
                <thead>
                    <tr style="">
                        <th style="width:15px;">#</th>
                        <th>汉语</th>
                        <th>数值</th>
                    </tr>
                </thead>
            </table>
            <div style="height:500px; width:315px; overflow-y:auto;margin-top:0px;"  >
                <table class="table table-condensed table-bordered" style="table-layout:fixed;margin-top:0px; font-size: 8px;word-break: normal; word-wrap: break-word;">
                    <tbody id="tb1" style="background:#dff0d8" onclick="hide_edit();">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="hidden">
            <div id="t0">
                <div><font size="5">翻译基本数词、模糊数词、歧义数词</font></div>
                a      整数：                                一万八千六百五十二，二百万；<br/>
                b     小数：                                二十五点七六；<br/>
                c      小数与时间用词消歧：     三点〇五，三点〇五分，三点四十五，三点四十五分；<br/>
                d      普通分数：                         八分之五；<br/>
                e     百分数：                            百分之五；<br/>
                f      百分数与小数嵌套：           百分之三点五；<br/>
                g      阿拉伯数字：                     200；<br/>
                h     阿拉伯数字与汉字混用：    34.5万；<br/>
                i     数学符号“%，/，.”：      2%，1/2，34.5；<br/>
                j      省略情况：                         九百八，千分之六；<br/>
                k      纯数字串：                         一九三八年, 电话号码是1223444423；<br/>
                L     大写：                                贰万叁仟伍佰肆拾陆；<br/>
                m     零、〇：                            五点五零，五点五〇；<br/>
                n    约数1：                             “七八千，二三万，十万二三”；<br/>
                o     约数2：                             “七、八千”， “7、8千” ，“三十四、五”，  “三十四、五十六” ，“一千二百三十四、五千九”。<br/>
                p     序数词：                            “第二十五、六十八条” ，“第十四、五条”<br/>
                 q    模糊数词：                         “十好几万” ，“好几十万“ ，”几“，”十几“，”十余万“，”十来万“，”十多万“<br/>
            </div>
            <div id="t1">
                            <div><font size="5">翻译大写小写</font></div>
                《正确填写票据和结算凭证的基本规定》<br/>
                银行、单位和个人填写的各种票据和结算凭证是办理支付结算和现金收付的重要依据，直接关系到支付结算的准确、及时和安全。票据和结算凭证是银行、单位和个人凭以记载账务的会计凭证，是记载经济业务和明确经济责任的一种书面证明。因此，填写票据和结算凭证，必须做到标准化、规范化，要要素齐全、数字正确、字迹清晰、不错漏、不潦草，防止涂改。中文大写金额数字应用正楷或行书填写，如壹（壹）、贰（贰）、叁、肆（肆）、伍（伍）、陆（陆）、柒、捌、玖、拾、佰、仟、万（万）、亿、元、角、分、零、整（正）等字样。不得用一、二（两）、三、四、五、六、七、八、九、十、念、毛、另（或0）填写，不得自造简化字。如果金额数字书写中使用繁体字，如贰、陆、亿、万、圆的，也应受理。
                一、中文大写金额数字到"元"为止的，在"元"之后，应写"整"（或"正"）字，在"角"之后，可以不写"整"（或"正"）字。大写金额数字有"分"的，"分"后面不写"整"（或"正"）字。
                二、中文大写金额数字前应标明"人民币"字样，大写金额数字有"分"的，"分"后面不写"整"（或"正"）字。
                三、中文大写金额数字前应标明"人民币"字样，大写金额数字应紧接"人民币"字样填写，不得留有空白。大写金额数字前未印"人民币"字样的，应加填"人民币"三字。在票据和结算凭证大写金额栏内不得预印固定的"仟、佰、拾、万、仟、佰、拾、元、角、分"字样。
                四、阿拉伯数字小写金额数字中有"0"时，中文大写应按照汉语语言规律、金额数字构成和防止涂改的要求进行书写。举例如下：
                1·阿拉伯数字中间有"0"时，中文大写要写"零"字，如￥1409.50，应写成人民币壹仟肆佰零玖元伍角。
                2·阿拉伯数字中间连续有几个"0"时，中文大写金额中间可以只写一个"零"字，如￥6007.14，应写成人民币陆仟零柒元壹角肆分。
                3·阿拉伯金额数字万位和元位是"0"，或者数字中间连续有几个"0"，万位、元位也是"0"，但千位、角位不是"0"时，中文大写金额中可以只写一个零字，也可以不写"零"字。如￥1680.32，应写成人民币壹仟陆佰捌拾元零叁角贰分，或者写成人民币壹仟陆佰捌拾元叁角贰分，又如￥107000.53，应写成人民币壹拾万柒仟元零伍角叁分，或者写成人民币壹拾万零柒仟元伍角叁分。
                4·阿拉伯金额数字角位是"0"，而分位不是"0"时，中文大写金额"元"后面应写"零"字。如￥16409.02，应写成人民币壹万陆仟肆佰零玖元零贰分；又如￥325.04，应写成人民币叁佰贰拾伍元零肆分。
                五、阿拉伯小写金额数字前面，均应填写人民币符号"￥"。阿拉伯小写金额数字要认真填写，不得连写分辨不清。
                六、票据的出票日期必须使用中文大写。为防止变造票据的出票日期，在填写月、日时，月为壹、贰和壹拾的，日为壹至玖和壹拾、贰拾和叁拾的，应在其前加"零"；日为拾壹至拾玖的，应在其前加"壹"。如1月15日，应写成零壹月壹拾伍日。再如10月20日，应写成零壹拾月零贰拾日。
                七、票据出票日期使用小写填写的，银行不予受理。大写日期未按要求规范填写的，银行可予受理，但由此造成损失的，由出票人自行承担。
                也就是说，根据此规定第四第的3小点，你的这个金额有两种写法：
                1、人民币壹拾万贰仟伍佰元整
                2、人民币壹拾万零贰仟伍佰元整
            </div>

            <div id="t2">
                <div><font size="5">翻译阿拉伯数字、分数、序数词</font></div>
                中新网9月17日电 据胡润百富网消息，《2013胡润女富豪榜》于9月17日在上海发布，这是胡润研究院连续第八次发布“胡润女富豪榜”前50位。今年也是胡润研究院连续第四年发布《2013胡润全球白手起家女富豪榜》，上榜门槛为10亿美金。上榜女富豪中，32岁的杨惠妍取代吴亚军成为女首富，陈丽华则以370亿元财富成为新一期的全球白手起家女首富，代替去年女首富吴亚军。
                胡润百富董事长兼首席调研员胡润表示：“这一代中国女企业家不但在中国地位很高，在全球范围内地位也不可动摇。”
                32岁的杨惠妍以财富510亿元，取代去年女首富吴亚军，相隔5年再次成为2013年女首富。
                女富豪从事房地产行业的人数最多，达到四分之一； 除房地产之外，女富豪更青睐金融与投资行业，比较少从事制造业。18%女富豪从事金融与投资行业，比例是男富豪的一倍；仅9%女富豪从事制造业，是男富豪的一半。
                女富豪榜上榜门槛为36亿元，比去年上升28.5%，是历年最高；而百富榜前50位男富豪财富门槛为180亿，是女富豪榜上榜门槛的5倍。女富豪平均财富96亿元，比去年增加9.1%；而前50位男富豪平均财富300多亿，是女富豪的三倍多。
                广东创造女富豪的环境最好，诞生了17位女富豪，北京和上海分别以9位和6位排第二、第三名；在百富榜上排名绝对第一的浙商，在女富豪榜上排名表现落后。
                前50位上榜女富豪中，白手起家的有34位，占67%，比去年增加6.7%，陈丽华是中国白手起家女首富，同时也是全球白手起家女首富。
                陈丽华以370亿元财富成为新一期的全球白手起家女首富，代替去年女首富吴亚军；吴亚军去年一年的股份缩减了26%。
                一半以上的全球最成功白手起家女富豪来自中国。全球10亿美金以上白手起家女富豪28人，其中15人来自中国；前5名中有3名来自中国内地，前10名中有6名来自中国内地。(中新网金融频道)
            </div>
            <div id="t3">
                <div><font size="5">翻译特殊中文数词</font></div>
                通常“二十”简写为“廿”或”卅“。“卅”是三十的简写。”卌“是四十的简写<br/>廿nian <br/>   卅sa <br/>   卌xi
            </div>
        </div>
    </div>
</div>
</div>
<script type="text/javascript">
$.fn.bootstrapSwitch.defaults.onColor = 'success';
$("[name='my-checkbox']").bootstrapSwitch();
$('input[name="my-checkbox"]').on('switchChange.bootstrapSwitch', function(event, state) {
  if(state==true){
    show_edit()
  }
  else{
    hide_edit()
  }
});
$('#result').scroll(function (){
      titlehide(selected_blue_i);
});
$(function(){
    function initToolbarBootstrapBindings() {
    var fonts = ['Serif', 'Sans', 'Arial', 'Arial Black', 'Courier',
            'Courier New', 'Comic Sans MS', 'Helvetica', 'Impact', 'Lucida Grande', 'Lucida Sans', 'Tahoma', 'Times',
            'Times New Roman', 'Verdana'],
            fontTarget = $('[title=Font]').siblings('.dropdown-menu');
    $.each(fonts, function (idx, fontName) {
        fontTarget.append($('<li><a data-edit="fontName ' + fontName +'" style="font-family:\''+ fontName +'\'">'+fontName + '</a></li>'));
    });
    $('a[title]').tooltip({container:'body'});
    $('.dropdown-menu input').click(function() {return false;})
    .change(function () {$(this).parent('.dropdown-menu').siblings('.dropdown-toggle').dropdown('toggle');})
        .keydown('esc', function () {this.value='';$(this).change();});
    $('[data-role=magic-overlay]').each(function () {
        var overlay = $(this), target = $(overlay.data('target'));
        overlay.css('opacity', 0).css('position', 'absolute').offset(target.offset()).width(target.outerWidth()).height(target.outerHeight());
    });
    if ("onwebkitspeechchange"  in document.createElement("input")) {
        var editorOffset = $('#editor').offset();
        $('#voiceBtn').css('position','absolute').offset({top: editorOffset.top, left: editorOffset.left+$('#editor').innerWidth()-35});
    } else {
        $('#voiceBtn').hide();
    }
};
function showErrorAlert (reason, detail) {
var msg='';
if (reason==='unsupported-file-type') { msg = "Unsupported format " +detail; }
else {
console.log("error uploading file", reason, detail);
}
$('<div class="alert"> <button type="button" class="close" data-dismiss="alert">&times;</button>'+
'<strong>File upload error</strong> '+msg+' </div>').prependTo('#alerts');
};
    initToolbarBootstrapBindings();
$('#editor').wysiwyg({ fileUploadError: showErrorAlert} );
    window.prettyPrint && prettyPrint();
});
$('#result-side-bar').hide();
</script>